<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhy.yunosdo"
    android:versionCode="20150805"
    android:versionName="1.2" 
    android:sharedUserId="android.uid.system">
    
    <!-- android:sharedUserId="android.uid.system" -->
    
    

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jhy.yunosdo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
      	<activity android:name=".filemanager.MyFileManager"  android:theme="@android:style/Theme.Dialog">
      	</activity>
      	
      	
    </application>

</manifest>
